* {
    background:     #1a1110FF;
    background-alt: #534341FF;
    foreground:     #f1dedcFF;
    selected:       #ffb4abFF;
    active:         #e7bdb8FF;
    urgent:         #ffb4abFF;
    BG:             #1a1110FF;
    BGA:            #534341FF;
    FG:             #f1dedcFF;
    SEL:            #ffb4abFF;
    BDR:            #a08c8aFF;
    ON:             #e7bdb8FF;
    OFF:            #ffb4abFF;
}
